body{
    color: #40514E;
    margin: 0;
    text-align: center;
}
.top-container{
    margin: 0;
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
h1{
    color: #66BFBF;
    font-size: 4.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',cursive;
}
h2{
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    right: 310px;
    top: 50px;
}
.top-cloud{
    margin-top: 30px;
    position: absolute;
    left: 310px;
    bottom: 300px;
}
#prof{
    height: 177px;
}
.middle-container{
    margin: 100px 0;
    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px 0;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
     
}
.web{
    width: 25%;
    float: left;
    margin-right: 25px;
}
.java{
    width: 25%;
    float: right;
    margin-left: 20px;
}
hr{
    border-style: dotted none none none;
    border-color: grey;
    border-width: 3px;
    width: 10%;
    margin: 70px auto;

}
.intro{
    width:20%;
    margin: auto;
}
p{
    line-height: 2;;
}
.contact-message{
    width:30%;
    margin: 10px auto 50px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }
  a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #EAF6F6;
  }